.main_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: var(--font-1);
  font-size: 14px;
  font-weight: 500;
}

.header {
  height: 6vh;
  width: 100%;
  box-shadow: 0px -10px 30px rgba(225, 229, 236, 0.5);
  border-bottom: 2px solid var(--ultra-light-grey);
}

.handIcon {
  width: 24px;
  margin-right: 8px;
}

.title {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.subTitle {
  color: var(--grey);
  margin-bottom: 4px;
}

.table_container {
  color: var(--dark-grey);
  height: 94vh;
  width: 100%;
  box-shadow: 0px 10px 30px rgba(225, 229, 236, 0.5);
  padding: 48px;
}

.orders_table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 16px;
}

.orders_table th {
  /* padding: 15px 0px; */
  color: var(--grey);
  font-size: 12px;
}

.orders_table th:first-child {
  padding-left: 30px;
}

.orders_table td {
  padding: 15px 0px;
  font-size: 14px;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  min-width: 8vw;
}

.orders_table td:first-child {
  padding-left: 30px;
  border-radius: 8px 0 0 8px;
  border-left: 1px solid var(--light-grey);
}

.orders_table td:last-child {
  border-radius: 0 8px 8px 0;
  border-right: 1px solid var(--light-grey);
  justify-content: center;
  width: 185px;
}