@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --font-1: 'DM Sans', sans-serif;
  
  --green: #00AD8C;
  --dark-blue: #021B51;
  --ultra-light-grey: #FBFDFE;
  --light-grey: #DFE2EB;
  --grey: #A1A8B8;
  --dark-grey: #4D5566;
  --white: #FFFFFF;
}

.App {
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}